# SvelteKit
/.svelte-kit

# bun dependencies
bun.lockb

# Build directory
/dist

# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
tmp/
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Compiled JavaScript files
*.js
*.jsx
*.js.map
*.jsx.map

# TypeScript
*.tsbuildinfo

# Compiled CSS files
*.css
*.css.map

# Svelte build files
/build
